<form class="form-horizontal">
    <div class="form-group row">
       <label for="vehicleRegNo" class="col-sm-4 col-form-label">Select Vehicle</label>
       <div class="col-sm-8">
          <select class="custom-select" name="vehicleRegNo" id="vehicleRegNo">
             <option value="" selected="">---SELECT---</option>
             <option value="AS-01-DV-3000">AS-01-DV-3000-Car</option>
             <option value="AS-01 DS 4452">AS-01 DS 4452-Car</option>
             <option value="AS-01 AZ 6464">AS-01 AZ 6464-Crane</option>
             <option value="AS01DS4432">AS01DS4432-Car</option>
             <option value="AS21DS2233">AS21DS2233-Bus</option>
             <option value="AS-01 DS3323">AS-01 DS3323-Car</option>
             <option value="AS308041">AS308041-Jeep</option>
             <option value="AS-30-1000">AS-30-1000-Car</option>
             <option value="AS01DB7022">AS01DB7022-Bike</option>
             <option value="AS-30-1232">AS-30-1232-Car</option>
             <option value="AS-30-SD-3333">AS-30-SD-3333-Car</option>
             <option value="AS-30-SD-4555">AS-30-SD-4555-Jeep</option>
             <option value="AS-01-AA-5534">AS-01-AA-5534-Car</option>
             <option value="AS01JC4253">AS01JC4253-Car</option>
             <option value="AS307587">AS307587-Car</option>
             <option value="AS01BT8798">AS01BT8798-Car</option>
             <option value="AS01JC4134">AS01JC4134-Car</option>
             <option value="AS02Q1488">AS02Q1488-Jeep</option>
             <option value="AS01BR4211">AS01BR4211-Car</option>
             <option value="AS307604">AS307604-Thar</option>
             <option value="AS-01-DV-9997">AS-01-DV-9997-Thar</option>
             <option value="AS-01-DV-9999">AS-01-DV-9999-Thar</option>
             <option value="AS01DB7020">AS01DB7020-Bike</option>
             <option value="AS01JC5888">AS01JC5888-Bus</option>
             <option value="AS19F4883">AS19F4883-Jeep</option>
             <option value="AS01HC9666">AS01HC9666-Car</option>
             <option value="AS-30-9000">AS-30-9000-Jeep</option>
             <option value="AS-01-DB-7020">AS-01-DB-7020-Bike</option>
             <option value="AS-01-DG-1458">AS-01-DG-1458-Bike</option>
             <option value="AS-30-2222">AS-30-2222-Thar</option>
             <option value="AS-30-6666">AS-30-6666-Thar</option>
             <option value="AS304916">AS304916-Jeep</option>
             <option value="AS301919">AS301919-Thar</option>
          </select>
       </div>
    </div>
    <div class="form-group row">
       <label for="driverId" class="col-sm-4 col-form-label">Select Driver</label>
       <div class="col-sm-8">
          <select class="custom-select" name="driverId" id="driverId">
             <option value="" selected="">---SELECT---</option>
             <option value="18">Raju Borah 9864053779</option>
             <option value="19">deep baruah 9678436806</option>
             <option value="21">Nabarup</option>
             <option value="22">Rajesh Singh</option>
             <option value="9">Ram Chandra</option>
             <option value="23">Kaushal</option>
             <option value="24">Jalaluddin Ahmed</option>
             <option value="25">Billal Hussain</option>
             <option value="26">Pranjal kumar Deka</option>
             <option value="28">JIAUR RAHMAN</option>
             <option value="29">FIROZ ALAM</option>
             <option value="30">ATUL DEKA</option>
             <option value="31">MAHIM AHMED</option>
             <option value="32">Hari Das</option>
             <option value="33">HAREN DAS</option>
             <option value="34">KAMAL LOCHAN BAISHYA</option>
             <option value="35">ATUL DEKA</option>
             <option value="36">Ramjam</option>
             <option value="37">JITU KALITA</option>
             <option value="38">NITU KALITA</option>
             <option value="39">LAKHYA THAKURIA</option>
          </select>
       </div>
    </div>
    <div class="form-group row">
       <label for="fuelInLtrs" class="col-sm-4 col-form-label">Select Trip From</label>
       <div class="col-sm-8"><input class="form-control pac-target-input" placeholder="Select Source Address" value="Maharashtra 431117, India" autocomplete="off"></div>
    </div>
    <div class="form-group row">
       <label for="fuelInLtrs" class="col-sm-4 col-form-label">Select Trip To</label>
       <div class="col-sm-8"><input class="form-control pac-target-input" placeholder="Select Destination Address" value="Adilabad(U), Telangana 504001, India" autocomplete="off"></div>
    </div>
    <div class="form-group row">
       <div class="col-sm-4"></div>
       <div class="col-sm-8 custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="roundTrip" name="roundTrip"><label class="custom-control-label" for="roundTrip">Include Round Trip</label></div>
    </div>
    <div class="form-group row">
       <label for="purpose" class="col-sm-4 col-form-label">Purpose</label>
       <div class="col-sm-8"><input type="text" class="form-control" placeholder="Enter Purpose of Trip" name="purpose" id="purpose"></div>
    </div>
    <div class="form-group row">
       <label class="col-sm-4 col-form-label">Select Date :</label>
       <div class="input-group col-sm-8">
          <div class="input-group-prepend" style="height: 38px;"><span class="input-group-text"><i class="far fa-calendar-alt"></i></span></div>
          <div class="react-datepicker-wrapper">
             <div class="react-datepicker__input-container"><input type="text" name="tripDate" placeholder="dd/mm/yyyy" class="form-control float-right" value="24/10/2020"></div>
          </div>
       </div>
    </div>
    <div class="form-group row">
       <label for="fuelInLtrs" class="col-sm-4 col-form-label">
          Enter Fuel
          <p style="font-size: x-small; margin-bottom: 0px;">(in Ltrs)</p>
       </label>
       <div class="col-sm-8"><input type="number" class="form-control" placeholder="Enter Fuel in Ltrs" name="fuelInLtrs" id="fuelInLtrs"></div>
    </div>
    <div class="form-group row">
       <label class="col-sm-4 col-form-label">Generated Token :</label>
       <div class="input-group col-sm-8"></div>
    </div>
    <div class="form-group row">
       <div class="input-group col-6"><button type="button" name="generateToken" class="btn btn-info">Generate Token</button></div>
       <div class="input-group col-6"><button type="submit" name="finalSubmit" class="btn btn-success">Create Trip</button></div>
    </div>
 </form>